textarea {
    min-height: 400px;
}

.email {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.read {
  background-color: #ddd; /* 已读背景色 */
}

.unread {
  background-color: #fff; /* 未读背景色 */
}
.btn{
  margin: 10px;
}
.email-body{
  padding: 10px;
  margin: 5px 0px;
}
.email-block{
  background-color: #f2f2f2;
  padding: 10px;
}
